In [1]:
import pandas as pd

In [4]:
df=pd.read_csv('survey_results_public.csv',index_col='Respondent')

In [5]:
df.head(2)

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,
1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,EUR,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,GBP,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4

In [7]:
filt=df['Country']=='India'

In [8]:
india_df=df.loc[filt]

In [9]:
india_df.head(1)

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,
7,I am a developer by profession,Yes,NaN,18,Monthly,NaN,NaN,India,United States dollar,USD,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,A lot more welcome now than last year,NaN,6,4

In [10]:
india_df.to_csv('modified.csv')

In [12]:
india_df.to_csv('modified.tsv',sep='\t')

In [14]:
india_df.to_excel('modified.xlsx')

In [15]:
ind_df=pd.read_excel('modified.xlsx')

In [16]:
ind_df.head(1)

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,7,I am a developer by profession,Yes,NaN,18,Monthly,,NaN,India,United States dollar,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,A lot more welcome now than last year,NaN,6,4

In [18]:
india_df.to_json('modified.json',orient='records',lines=True)

In [19]:
df_json=pd.read_json('modified.json',orient='records',lines=True)

In [20]:
df_json

,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,DatabaseDesireNextYear,DatabaseWorkedWith,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,NaN,18,Monthly,NaN,NaN,India,United States dollar,USD,None,None,...,None,None,None,"Computer science, computer engineering, or sof...",None,None,A lot more welcome now than last year,NaN,6,4
1,NaN,18,Monthly,NaN,NaN,India,Indian rupee,INR,None,None,...,Easy,Appropriate in length,None,"Computer science, computer engineering, or sof...",None,None,Just as welcome now as I felt last year,50.0,10,2
2,NaN,22,None,NaN,NaN,India,Indian rupee,INR,Microsoft SQL Server,Microsoft SQL Server,...,Neither easy nor difficult,Too long,None,Web development or web design,Angular;Angular.js;ASP.NET;ASP.NET Core;jQuery,Angular;Angular.js;ASP.NET;ASP.NET Core;jQuery,None,NaN,None,None
3,21.0,17,None,NaN,NaN,India,None,None,DynamoDB,Firebase;MongoDB;MySQL,...,Easy,Appropriate in length,No,None,Angular.js;Django;jQuery;Laravel;Vue.js,None,Not applicable - I did not use Stack Overflow ...,NaN,4,None
4,36.0,31,Yearly,21000000.0,293196.0,India,Indian rupee,INR,Cassandra;MySQL;PostgreSQL,MySQL;PostgreSQL,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",None,None,Somewhat more welcome now than last year,70.0,5,3
5,NaN,18,Monthly,NaN,NaN,India,Indian rupee,INR,SQLite,SQLite,...,Neither easy nor difficult,Too long,No,"Computer science, computer engineering, or sof...",None,None,Somewhat more welcome now than last year,NaN,12,8
6,24.0,19,Yearly,840000.0,11728.0,India,Indian rupee,INR,MongoDB,MySQL,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Gatsby,Flask;Spring,Somewhat more welcome now than last year,45.0,5,2
7,20.0,12,None,NaN,NaN,India,None,None,MongoDB,Firebase;MySQL;Oracle;SQLite,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",Django;jQuery;Laravel,Flask,Just as welcome now as I felt last year,NaN,7,None
8,22.0,16,None,NaN,NaN,India,None,None,DynamoDB;Firebase;MongoDB,Firebase;MariaDB;Microsoft SQL Server;MongoDB;...,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Django;Flask,Angular;Angular.js;Django;Flask;jQuery,Just as welcome now as I felt last year,NaN,4,None
9,NaN,27,None,NaN,NaN,India,Indian rupee,INR,MySQL,MySQL,...,Neither easy nor difficult,Appropriate in length,None,"Computer science, computer engineering, or sof...",jQuery;Laravel,jQuery;Laravel,A lot more welcome now than last year,90.0,2,None
10,26.0,17,None,NaN,NaN,India,Indian rupee,INR,MongoDB;MySQL,MongoDB;MySQL,...,Easy,Too long,No,"Computer science, computer engineering, or sof...",Angular;Express,Angular;Express,None,40.0,7,4
11,NaN,14,Monthly,900000.0,150792.0,India,Indian rupee,INR,Cassandra;Elasticsearch;Firebase;Microsoft SQL...,MongoDB;PostgreSQL;SQLite,...,Neither easy nor difficult,Appropriate in length,No,"Another engineering discipline (such as civil,...",Angular;Django;Express;React.js;Spring,Angular;Django;Express;React.js;Spring,Just as welcome now as I felt last year,50.0,10,3
12,24.0,18,Monthly,25000.0,4188.0,India,Indian rupee,INR,DynamoDB;MongoDB;MySQL,DynamoDB;MongoDB;MySQL,...,Neither easy nor difficult,Too long,None,"Computer science, computer engineering, or sof...",Angular;Angular.js;jQuery;Laravel,Angular;Angular.js;jQuery;Laravel,Somewhat more welcome now than last year,42.0,1,3
13,23.0,17,None,NaN,NaN,India,None,None,None,MySQL,...,Easy,Too long,No,"Another engineering discipline (such as civil,...",None,None,Somewhat less welcome now than last year,NaN,6,None
14,NaN,20,None,NaN,NaN,India,Indian rupee,INR,Cassandra;Elasticsearch,IBM DB2;MariaDB;MySQL,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular,Django,A lot more welcome now than last year,60.0,11,8
15,21.0,13,None,NaN,NaN,India,None,None,MongoDB,Firebase;MongoDB;MySQL;Oracle;SQLite,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",Django;Express;Flask,Django;Express;Flask,A lot more welcome now than last year,NaN,10,None
16,24.0,14,Yearly,1700000.0,23735.0,India,Indian rupee,INR,PostgreSQL,PostgreSQL,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",None,None,Just as welcome now as I felt last year,36.0,8,2
17,25.0,15,Yearly,750000.0,10471.0,India,Indian rupee,INR,Cassandra;IBM DB2;MongoDB,MySQL;Oracle;PostgreSQL,...,Neither easy nor difficult,Appropriate in length,No,"Another engineering discipline (such as civil,...",Angular;Angular.js;React.js,Spring,Just as welcome now as I felt last year,8.0,5,3
18,NaN,19,Monthly,NaN,NaN,India,Indian rupee,INR,Firebase;MongoDB,Firebase,...,Easy,Appropriate in length,No,"Another engineering discipline (such as civil,...",React.js,React.js,Just as welcome now as I felt last year,NaN,7,3
19,23.0,16,None,NaN,NaN,India,None,None,DynamoDB;Firebase;MongoDB;MySQL;PostgreSQL;SQLite,MySQL;SQLite,...,Easy,Appropriate in length,No,None,Django;Express;Gatsby;jQuery;Laravel;React.js,Django;jQuery,A lot more welcome now than last year,NaN,5,None
20,NaN,18,None,NaN,NaN,India,Indian rupee,INR,Elasticsearch;MariaDB;MongoDB,Couchbase;Elasticsearch;MariaDB;MongoDB;Redis,...,Easy,Too long,No,"Computer science, computer engineering, or sof...",React.js;Symfony,React.js,None,40.0,9,4
21,NaN,23,None,NaN,NaN,India,Indian rupee,INR,PostgreSQL,PostgreSQL,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Spring,Spring,Just as welcome now as I felt last year,50.0,5,2
22,27.0,14,Monthly,NaN,NaN,India,Indian rupee,INR,Couchbase;Elasticsearch;Firebase;MongoDB;MySQL...,Elasticsearch;Firebase;MongoDB;MySQL;Redis;SQLite,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Gatsby;React.js;Ruby on Rails,ASP.NET;ASP.NET Core;Express;jQuery;React.js;R...,A lot more welcome now than last year,40.0,10,3
23,31.0,13,Yearly,2450000.0,34206.0,India,Indian rupee,INR,Elasticsearch;PostgreSQL,Elasticsearch;PostgreSQL,...,Neither easy nor difficult,Too long,No,"Another engineering discipline (such as civil,...",None,None,Just as welcome now as I felt last year,40.0,15,8
24,26.0,16,Monthly,30000.0,5028.0,India,Indian rupee,INR,Firebase;MongoDB;MySQL,Firebase;MongoDB;MySQL,...,Neither easy nor difficult,Too long,No,"Computer science, computer engineering, or sof...",Angular;Express,Angular;Express,Just as welcome now as I felt last year,45.0,7,3
25,21.0,12,None,NaN,NaN,India,None,None,None,Firebase,...,Easy,Appropriate in length,No,"Another engineering discipline (such as civil,...",None,None,Somewhat less welcome now than last year,NaN,8,None
26,NaN,17,None,NaN,NaN,India,None,None,None,Firebase;Microsoft SQL Server,...,None,None,None,"Computer science, computer engineering, or sof...",None,jQuery,A lot more welcome now than last year,NaN,8,6
27,NaN,17,Yearly,2800000.0,39093.0,India,Indian rupee,INR,Couchbase,Couchbase;MongoDB,...,Neither easy nor difficult,Appropriate in length,No,"A humanities discipline (such as literature, h...",jQuery,Django;Flask;jQuery,None,30.0,6,2
28,30.0,9,Yearly,2200000.0,30716.0,India,Indian rupee,INR,Firebase;MongoDB,Microsoft SQL Server,...,Easy,Too long,No,"Computer science, computer engineering, or sof...",Angular;React.js;Vue.js,Angular;ASP.NET;jQuery;Vue.js,Just as welcome now as I felt last year,40.0,15,8
29,20.0,9,None,NaN,NaN,India,None,None,DynamoDB;Elasticsearch;Firebase;MongoDB;Postgr...,MongoDB;SQLite,...,Neither easy nor difficult,Too long,No,Mathematics or statistics,Gatsby;React.js;Vue.js,Django;Flask;Gatsby;React.js,Not applicable - I did not use Stack Overflow ...,NaN,11,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8373,NaN,18,None,NaN,NaN,India,None,None,MySQL,Oracle,...,None,None,No,"Computer science, computer engineering, or sof...",Angular.js;ASP.NET;ASP.NET Core;jQuery;React.js,None,A lot less welcome now than last year,NaN,2,None
8374,NaN,None,None,NaN,NaN,India,None,None,None,MySQL,...,None,None,None,None,None,jQuery;Laravel,None,NaN,None,None
8375,NaN,15,Yearly,1200000.0,16754.0,India,Indian rupee,INR,MongoDB,Microsoft SQL Server,...,None,None,None,"Computer science, computer engineering, or sof...",React.js,Angular;ASP.NET;ASP.NET Core;jQuery,None,40.0,5,3
8376,NaN,18,Monthly,450000.0,75396.0,India,Indian rupee,INR,Cassandra;Elasticsearch;MariaDB;MongoDB;MySQL;...,Cassandra;DynamoDB;Elasticsearch;MariaDB;Mongo...,...,None,None,None,"Another engineering discipline (such as civil,...",React.js,React.js,Just as welcome now as I felt last year,NaN,25,18
8377,NaN,None,None,NaN,NaN,India,None,None,None,None,...,None,None,None,None,None,None,None,NaN,None,None
8378,NaN,None,None,NaN,NaN,India,None,None,None,None,...,None,None,None,None,None,None,None,NaN,None,None
8379,NaN,16,None,NaN,NaN,India,None,None,None,None,...,None,None,None,"Computer science, computer engineering, or sof...",None,None,None,NaN,5,None
8380,NaN,13,None,NaN,NaN,India,Indian rupee,INR,PostgreSQL,MongoDB;PostgreSQL,...,None,None,None,"Another engineering discipline (such as civil,...",None,React.js,Just as welcome now as I felt last year,NaN,25,5
8381,NaN,None,None,NaN,NaN,India,None,None,None,None,...,None,None,None,None,None,None,None,NaN,None,None
8382,NaN,19,Monthly,15000.0,2508.0,India,Indian rupee,INR,Microsoft SQL Server,Microsoft SQL Server,...,Neither easy nor difficult,Too long,No,"Computer science, computer engineering, or sof...",ASP.NET,ASP.NET,None,35.0,4,1
8383,NaN,21,Monthly,NaN,NaN,India,Indian rupee,INR,None,None,...,None,None,None,"Computer science, computer engineering, or sof...",None,None,None,NaN,9,9
8384,NaN,None,None,NaN,NaN,India,None,None,None,None,...,Neither easy nor difficult,Appropriate in length,No,"A natural science (such as biology, chemistry,...",None,None,None,NaN,None,None
8385,NaN,27,None,NaN,NaN,India,None,None,None,MySQL;Oracle,...,Difficult,Appropriate in length,No,Mathematics or statistics,None,Angular;Angular.js;ASP.NET;ASP.NET Core;jQuery...,None,NaN,1,Less than 1 year
8386,NaN,None,None,NaN,NaN,India,None,None,None,None,...,Easy,Appropriate in length,None,I never declared a major,None,None,Not applicable - I did not use Stack Overflow ...,NaN,None,None
8387,35.0,16,None,NaN,NaN,India,None,None,MySQL;Oracle,MySQL;Oracle;SQLite,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular.js;React.js;Spring,Angular.js;Spring,Just as welcome now as I felt last year,NaN,7,3
8388,20.0,12,None,NaN,NaN,India,None,None,Microsoft SQL Server;MongoDB;MySQL;PostgreSQL;...,Firebase;MariaDB;Microsoft SQL Server;MongoDB;...,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core;Django,ASP.NET Core;Django;Drupal;jQuery,Just as welcome now as I felt last year,NaN,8,None
8389,NaN,19,None,NaN,NaN,India,None,None,None,None,...,None,None,None,"Computer science, computer engineering, or sof...",None,None,None,NaN,8,5
8390,NaN,None,None,NaN,NaN,India,None,None,None,None,...,None,None,None,None,Django,None,None,NaN,None,None
8391,NaN,None,None,NaN,NaN,India,None,None,None,None,...,None,None,None,None,None,None,None,NaN,None,None
8392,NaN,None,None,NaN,NaN,India,None,None,None,None,...,None,None,None,None,None,None,None,NaN,None,None
8393,NaN,22,None,NaN,NaN,India,None,None,None,None,...,Neither easy nor difficult,Appropriate in length,None,None,None,None,None,NaN,15,17
8394,NaN,None,None,NaN,NaN,India,None,None,None,MySQL;SQLite,...,None,None,None,None,Django;Flask,None,A lot more welcome now than last year,NaN,None,None
8395,NaN,None,None,NaN,NaN,India,None,None,None,None,...,None,None,None,None,None,Drupal,None,NaN,None,None
8396,NaN,19,None,NaN,NaN,India,None,None,None,None,...,Neither easy nor difficult,Too long,No,None,None,None,None,NaN,None,None
8397,20.0,17,None,NaN,NaN,India,None,None,PostgreSQL;Redis,MongoDB;MySQL,...,Neither easy nor difficult,Appropriate in length,No,None,Angular;Angular.js;jQuery;Ruby on Rails;Vue.js,Django;Flask;React.js,Just as welcome now as I felt last year,NaN,3,None
8398,NaN,18,None,NaN,NaN,India,None,None,MongoDB;MySQL,MySQL,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",jQuery,jQuery,A lot less welcome now than last year,NaN,5,Less than 1 year
8399,NaN,None,None,NaN,NaN,India,None,None,None,None,...,None,None,None,None,None,None,None,NaN,None,None
8400,NaN,None,None,NaN,NaN,India,None,None,None,None,...,None,None,None,I never declared a major,None,None,None,NaN,None,None
8401,NaN,None,None,NaN,NaN,India,None,None,None,None,...,None,None,None,None,None,ASP.NET;ASP.NET Core;Django;jQuery;Symfony;Vue.js,None,NaN,None,None
8402,NaN,None,None,NaN,NaN,India,None,None,None,None,...,None,None,None,None,None,None,None,NaN,None,None

In [29]:
from sqlalchemy import create_engine
import psycopg2

In [30]:
engine=create_engine('postgresql://lokesh:admin@localhost:33227/practice_database')

In [ ]:
india_df.to_sql('sample_table',engine)

In [ ]:
india_df.to_sql('sample_table',engine)